.page-layout {
  height: 100%;
  .m-page {
    height: 100%;
  }
}
.page-link {
  padding: .7rem 1.1rem;
}

.b-pagination {
  margin-top: 25px;
}

.b-table {
  th {
    color: #000;
  }
}

.image-card {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.charts-wrapper {
  margin-bottom: 30px;
}
