<template>
  <!-- eslint-disable -->
  <div>
    <!-- Modal Button -->
    <a v-b-modal.customize-columns-modal class="btn btn-default btn-rounded" data-toggle="collapse" aria-expand="true">
      <i class="fa fa-check-square"></i>
      <span class="">{{ lang('main.customizeColumns') }}</span>
    </a>
    <!-- Modal Component -->
    <b-modal id="customize-columns-modal" size="lg" :title="lang('main.customizeColumns')" :busy="true">
      <div class="col-sm-12">
        <div v-for="column in columns">
          <label>
            <input @change="onCheckboxChange" type="checkbox" v-model="column.show" class="form-check-input" value="1">
            <span>
              {{ column.label }}
            </span>
          </label>
        </div>
      </div>

      <div slot="modal-footer" class="w-100"></div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'CustomizeColumns',
  props: {
    columns: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      theColumns: [],
    };
  },
  watch: {
    columns() {
      this.theColumns = this.columns;
    },
  },
  mounted() {
    this.theColumns = this.columns;
  },
  methods: {
    onCheckboxChange() {
      const fields = this.theColumns.filter((column) => {
        return column.show ? column : null;
      });

      this.$emit('customizeColumns.change', fields);
    },
  },
};
</script>
