<template>
  <!-- eslint-disable -->
  <div>
    <!-- Modal Button -->
    <a class="btn btn-default btn-rounded" data-toggle="modal" data-target="#export-data-modal">
      <i class="fa fa-arrow-circle-down"></i>
      <span class="">{{ lang('main.exportData') }}</span>
    </a>
    <!-- Modal Component -->
    <b-modal id="export-data-modal" size="lg" :title="lang('main.exportData')" :busy="true">
      <div class="col-sm-12">
        <h3>{{ lang('main.columns') }}</h3>

        <div v-for="column in columns" class="custom-control custom-radio">
          <input v-model="theColumn" type="radio" :id="'column-id-' + column.value" name="export-column" class="custom-control-input" :value="column.value">
          <label class="custom-control-label" :for="'column-id-' + column.value">{{ column.text }}</label>
        </div>

      </div>

      <div slot="modal-footer" class="w-100">
        <button class="btn btn-primary">
          <i class="fa fa-clipboard"></i>
          {{ lang('main.copyToClipboard') }}
        </button>
        <button class="btn btn-primary mx-2">
          <i class="fa fa-arrow-circle-o-down"></i>
          {{ lang('main.exportCsv') }}
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'ExportData',
  props: {
    currentColumns: {
      type: Array,
      default() {
        return [];
      },
    },
    dateRange: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      theColumn: 0,
      columns: [
        { text: lang('main.currentView'), value: 0 },
        { text: lang('main.allColumns'), value: 1 },
      ],
      csvUrl: window.url('/advertising/facebook/daily-performance/export/csv')
    };
  },
};
</script>
