<template>
  <!-- eslint-disable -->
  <div class="m-portlet__head-caption">
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        {{ title }}
      </h3>

      <div class="btn-group group-view-types btn-group-sm">

        <a @click.prevent="changeViewType('list')" class="btn" :class="theViewType === 'list' ? 'btn-info' : 'btn-default'" data-toggle="collapse" aria-expand="true">
          <i class="fa fa-th-list"></i>
        </a>

        <a @click.prevent="changeViewType('chart')" class="btn" :class="theViewType === 'chart' ? 'btn-info' : 'btn-default'" data-toggle="collapse" aria-expand="true">
          <i class="fa fa-bar-chart"></i>
        </a>

      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'HeadTitle',
  props: {
    title: {
      type: String,
      default: 'Generic Page',
    },
    viewType: {
      type: String,
      default: 'list',
    },
  },
  data() {
    return {
      theViewType: 'list',
    };
  },
  watch: {
    viewType(newValue) {
      this.theViewType = newValue;
    },
  },
  methods: {
    changeViewType(newType) {
      this.theViewType = newType;
      this.$emit('headTitle.viewType.change', newType);
    },
  },
};
</script>
