<template>
  <!-- eslint-disable -->
  <div class="m-portlet__head-tools">
    <range-picker ref="rangePicker" :options="options"></range-picker>
  </div>
</template>

<script>
import RangePicker from 'components/common/RangePicker';

export default {
  name: 'HeadPicker',
  components: {
    RangePicker,
  },
  props: {
    options: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  mounted() {
    this.$refs.rangePicker.$on('rangePicker.change', this.onRangePickerChange);
  },
  methods: {
    onRangePickerChange(rangeData) {
      this.$emit('headPicker.change', rangeData);
    },
  },
};
</script>
