<template>
  <!-- eslint-disable -->
  <div class="col-sm-4">
    <b-form-select v-model="value" :options="options" class="m-input" :value-field="valueField" :text-field="textField" @change="onSelectChange"></b-form-select>
  </div>
</template>

<script>
// I know about the 'Avoid mutating a prop directly' error
// I tried using a data variable instead of a prop
// But the data variable gets set to undefined everytime I change it so ...

export default {
  name: 'SelectCampaign',
  props: {
    value: {
      type: Number,
      default: 0,
    },
    options: {
      type: Array,
      default() {
        return [];
      },
    },
    valueField: {
      type: String,
      default: 'id',
    },
    textField: {
      type: String,
      default: 'name',
    },
  },
  methods: {
    onSelectChange(value) {
      const parsedValue = parseInt(value, 10);

      if (!isNaN(parsedValue) && typeof parsedValue !== 'undefined') {
        this.$emit('headDropdown.change', parsedValue);
      }
    },
  },
};
</script>
