<template>
  <!-- eslint-disable -->
  <div class="btn-group group-view-types btn-group-sm">
    <a class="btn btn-info" data-toggle="collapse" aria-expand="true">
      <i class="fa fa-th-list"></i>
    </a>
    <a class="btn btn-default" data-toggle="collapse" aria-expand="true">
      <i class="fa fa-bar-chart"></i>
    </a>
  </div>
</template>

<script>
export default {
  name: 'ViewTypes',
};
</script>
