<template>
  <!-- eslint-disable -->
  <div class="tara-bar-chart">
    <canvas :id='chartId' :width='width' :height='height'></canvas>
  </div>
</template>

<script>
export default {
  name: 'BarChart',
  props: {
    height: {
      type: Number,
      default: 160,
    },
    width: {
      type: Number,
      default: 800,
    },
    title: {
      type: String,
      default: 'Data',
    },
  },
  data() {
    return {
      chart: null,
    };
  },
  computed: {
    chartId() {
      return `chart-${this['_uid']}`;
    },
  },
  mounted() {
    const context = document.getElementById(this.chartId);
    const data = {
      labels: [
        'China', 'India', 'United States', 'Indonesia',
      ],
      datasets: [
        {
          label: this.title, // the title of the chart
          data: [13, 12, 21, 55],
          backgroundColor: '#3b64c9',
        },
      ],
    };
    const options = {
      layout: {
        padding: {
          top: 25,
          left: 20,
          bottom: 5,
          right: 5,
        },
      },
      legend: {
        display: true,
        position: 'bottom',
        labels: {
          fontSize: 17,
        },
      },
      scales: {
        xAxes: [{
          gridLines: {
            display: false,
          },
        }],
      },
    };

    context.style.backgroundColor = '#f3f3f8';

    this.chart = new Chart(context, {
      type: 'bar',
      data,
      options,
    });
  },
};
</script>

<style lang="scss" scoped>
  .tara-bar-chart {
    margin-top: 30px;
  }
</style>
