<template>
  <!-- eslint-disable -->
  <div class="m-content">

    <div class="m-portlet m-portlet--mobile">

      <div class="m-portlet__head">
        <head-title ref="headTitle" :title="lang('adFacebook.dailyPerformance')"></head-title>
        <head-picker ref="headPicker" :options="rangePickerOptions"></head-picker>
      </div>

      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="row">
            <select-campaign ref="headDropdown" :value="headDropdownValue" :options="headDropdownOptions" :value-field="headDropdownValueField" :text-field="headDropdownTextField"></select-campaign>
            <div class="col-sm-4 offset-sm-4">
              <div class="btn-group float-right">
                <customize-columns ref="customizeColumns" :columns="fields"></customize-columns>
                <export-data :current-columns="displayedFields" :date-range="dateRange"></export-data>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="m-portlet__body m--padding-top-20">

        <div v-show="viewType === 'list'" class="m_datatable" id="scrolling_both">
          <b-table
            ref="recordsTable"
            responsive="true"
            bordered
            hover
            :items="records"
            :fields="displayedFields"
            :current-page="1"
            :per-page="pagination.per_page">
            <template slot="publicity_status" slot-scope="data">
              <i v-if="data.item.publicity_status" class="fa fa-check" aria-hidden="true"></i>
              <i v-else class="fa fa-times" aria-hidden="true"></i>
            </template>
            <template slot="created_at" slot-scope="data">
              {{ dateFormatStd(data.item.created_at.date) }}
            </template>
          </b-table>
          <b-pagination
            ref="pagination"
            align="center"
            v-model="pagination.current_page"
            :total-rows="pagination.total"
            :per-page="pagination.per_page">
          </b-pagination>
        </div>

        <daily-performance-charts v-show="viewType !== 'list'"></daily-performance-charts>

      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import dailyPerformanceCharts from 'views/charts/FbDailyPerformance/Index';
import ListsMixin from 'mixins/Lists';
import BrunoMixin from 'mixins/Bruno';

export default {
  name: 'DailyPerformance',
  components: {
    dailyPerformanceCharts,
  },
  mixins: [ListsMixin, BrunoMixin],
  data() {
    return {
      headDropdownPlaceholder: 'Select Campaign',
      fields: [
        {
          key: 'created_at',
          label: window.lang('adFacebook.date'),
          show: true,
        },
        {
          key: 'spend',
          label: window.lang('adFacebook.cost'),
          show: true,
        },
        {
          key: 'impressions',
          label: window.lang('adFacebook.impressions'),
          show: true,
        },
        {
          key: 'clicks',
          label: window.lang('adFacebook.linkClicks'),
          show: true,
        },
      ],
    };
  },
  computed: {
    ...mapGetters('facebook', {
      records: 'dailyPerformanceRecords',
      recordsPagination: 'dailyPerformancePagination',
    }),
    ...mapGetters('campaigns', {
      campaigns: 'campaigns',
    }),
  },
  mounted() {
    this.loadDropdownOptions();
    this.loadRecords();
  },
  methods: {
    ...mapActions('facebook', [
      'loadDailyPerformance',
    ]),
    ...mapActions('campaigns', [
      'loadCampaigns',
    ]),
    loadRecords() {
      const options = this.generateQueryObject();
      this.loadDailyPerformance(options)
        .then(() => {
          // the b-pagination component has the bad habit of updating the pagination object we give
          // in order to prevent vue from throwing errors regarding state mutations, we need to clone the data
          this.pagination = Object.assign({}, this.recordsPagination);
          window.Bus.$emit('page.ready');
        })
        .catch(() => {});
    },
    loadDropdownOptions() {
      this.loadCampaigns({ limit: 'null' })
        .then(() => {
          this.setDropdownOptions(this.campaigns);
        })
        .catch((response) => {
          console.dir('error retrieving the campaigns');
          console.dir(response);
        });
    },
  },
};
</script>
