<template>
  <!-- eslint-disable -->
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
    <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver	m-container m-container--responsive m-container--xxl m-page__container">
      <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <div class="m-subheader ">
          <div class="d-flex align-items-center">
            <div class="mr-auto">
              <h3 class="m-subheader__title m-subheader__title--separator">
                {{ lang('facebook.mainTitle') }}
              </h3>
            </div>
          </div>
        </div>
        <div class="m-content">
          <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                     {{ lang('facebook.campaign') }}
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <div class="m-section">
                <div class="m-section__content">
                  <div class="form-group m-form__group">
                    <label for="exampleSelect1">
                      Campaign
                    </label>
                    <select class="form-control m-input col-md-4" id="exampleSelect1">
                      <option>
                        Kiefer Sutherland - Down in a Hole
                      </option>
                    </select>
                  </div>
                  <table class="table m-table m-table--head-bg-brand">
                    <thead>
                      <tr>
                        <th>{{ lang('facebook.campaign') }}</th>
                        <th>{{ lang('facebook.cost') }}</th>
                        <th>{{ lang('facebook.impressions') }}</th>
                        <th>{{ lang('facebook.CPM') }}</th>
                        <th>{{ lang('facebook.linkClicks') }}</th>
                        <th>{{ lang('facebook.CPLC') }}</th>
                        <th>{{ lang('facebook.videoViews') }}</th>
                        <th>{{ lang('facebook.CPV') }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="campaign in campaigns">
                        <th>Lorem Ipsum</th>
                        <td>Analyst</td>
                        <td>{{ randomNumber() }}</td>
                        <td>{{ randomNumber() }}</td>
                        <td>{{ randomNumber() }}</td>
                        <td>{{ randomNumber() }}</td>
                        <td>{{ randomNumber() }}</td>
                        <td>{{ randomNumber() }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FacebookOverview',
  data() {
    return {
      campaigns: 20,
    };
  },
  methods: {
    randomNumber() {
      return window.Math.random(0, 100);
    },
  },
};
</script>
