<template>
  <!-- eslint-disable -->
  <div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-3" id="m_login" style="background-image: url('/img/theme/bg/bg-2.jpg');">
      <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
        <div class="m-login__container">
          <div class="m-login__logo">
            <a href="#">
              <img src="img/logo/TA_logo_new_xs.png">
            </a>
          </div>
          <div class="m-login__signin">
            <div class="m-login__head">
              <h3 class="m-login__title">
                {{ lang('login.signInMessage') }}
              </h3>
            </div>
            <form class="m-login__form m-form" action="">
              <div class="form-group m-form__group">
                <input v-model="email" class="form-control m-input" type="text" :placeholder="lang('login.email')" name="email" autocomplete="off">
              </div>
              <div class="form-group m-form__group">
                <input v-model="password" class="form-control m-input m-login__form-input--last" type="password" :placeholder="lang('login.password')" name="password">
              </div>
              <div class="row m-login__form-sub">
                <div class="col m--align-left m-login__form-left">
                  <label class="m-checkbox  m-checkbox--light">
                    <input type="checkbox" name="remember">
                    {{ lang('login.rememberMe') }}
                    <span></span>
                  </label>
                </div>
                <div class="col m--align-right m-login__form-right">
                  <a href="javascript:;" id="m_login_forget_password" class="m-link">
                    {{ lang('login.forgotPassword') }}
                  </a>
                </div>
              </div>
              <div class="m-login__form-action">
                <button @click.prevent="login" id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">
                  {{ lang('login.signIn') }}
                </button>
              </div>
            </form>
          </div>
          <div class="m-login__signup">
            <div class="m-login__head">
              <h3 class="m-login__title">
                {{ lang('login.signUp') }}
              </h3>
              <div class="m-login__desc">
                {{ lang('login.createAccountMessage') }}
              </div>
            </div>
            <form class="m-login__form m-form" action="">
              <div class="form-group m-form__group">
                <input class="form-control m-input" type="text" :placeholder="lang('login.fullname')" name="fullname">
              </div>
              <div class="form-group m-form__group">
                <input class="form-control m-input" type="text" :placeholder="lang('login.email')" name="email" autocomplete="off">
              </div>
              <div class="form-group m-form__group">
                <input class="form-control m-input" type="password" :placeholder="lang('login.password')" name="password">
              </div>
              <div class="form-group m-form__group">
                <input class="form-control m-input m-login__form-input--last" type="password" :placeholder="lang('login.confirmPassword')" name="rpassword">
              </div>
              <div class="row form-group m-form__group m-login__form-sub">
                <div class="col m--align-left">
                  <label class="m-checkbox m-checkbox--light">
                    <input type="checkbox" name="agree">
                    {{ lang('login.iAgree') }}
                    <a href="#" class="m-link m-link--focus">
                      {{ lang('login.theTerms') }}
                    </a>
                    .
                    <span></span>
                  </label>
                  <span class="m-form__help"></span>
                </div>
              </div>
              <div class="m-login__form-action">
                <button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">
                  {{ lang('login.signUp') }}
                </button>
                <button id="m_login_signup_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn">
                  {{ lang('main.cancel') }}
                </button>
              </div>
            </form>
          </div>
          <div class="m-login__forget-password">
            <div class="m-login__head">
              <h3 class="m-login__title">
                {{ lang('login.forgottenPassword') }}
              </h3>
              <div class="m-login__desc">
                {{ lang('login.resetYourPasswordMessage') }}
              </div>
            </div>
            <form class="m-login__form m-form" action="">
              <div class="form-group m-form__group">
                <input class="form-control m-input" type="text" :placeholder="lang('login.email')" name="email" id="m_email" autocomplete="off">
              </div>
              <div class="m-login__form-action">
                <button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                  {{ lang('login.request') }}
                </button>
                <button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn">
                  {{ lang('main.cancel') }}
                </button>
              </div>
            </form>
          </div>
          <div class="m-login__account">
            <span class="m-login__account-msg">
              {{ lang('login.signUpMessage') }}
            </span>
            <a href="javascript:;" id="m_login_signup" class="m-link m-link--light m-login__account-link">
              {{ lang('login.signUp') }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      email: '',
      password: '',
    };
  },
  methods: {
    login() {
      const url = window.url('/auth', true);
      const data = {
        email: this.email,
        password: this.password,
      };
      axios.post(url, data)
        .then((response) => {
          // set the token on the auth package
          // and store the user data in localStorage
          this.$auth.setToken(response.data.access_token, response.data.expires_in + Date.now());
          this.$auth.setUserData(response.data.user_data);
          // set the token in the axios headers
          axios.defaults.headers.common.Accept = 'application/json';
          axios.defaults.headers.common.Authorization = `Bearer ${response.data.access_token}`;
          // redirect the user to the dashboard page
          this.$router.push('/dashboard');
        })
        .catch((error) => {
          console.dir(error);
          this.fail('login.failMessage');
        });
    },
  },
};
</script>
