<template>
  <!-- eslint-disable -->
  <b-card :header="lang('users.userManagement')">
    <b-table fixed bordered
             class="table-responsive-sm"
             ref="table"
             :items="provider"
             :fields="fields"
             :current-page="currentPage"
             :per-page="perPage">

      <template slot="actions" slot-scope="data">

        <router-link :to="{ path: '/users/' + data.item.id }" tag="button" class="btn btn-primary">
          <i class="fa fa-wrench" aria-hidden="true"></i>
          {{ lang('main.edit') }}
        </router-link>

        <router-link :to="{ path: '/users/' + data.item.id }" tag="button" class="btn btn-danger">
          <i class="fa fa-trash" aria-hidden="true"></i>
          {{ lang('main.delete') }}
        </router-link>

      </template>

    </b-table>
    <nav>
      <b-pagination
        :total-rows="totalPages"
        :per-page="perPage"
        v-model="currentPage"
        prev-text="Prev"
        next-text="Next"
        hide-goto-end-buttons
      >
      </b-pagination>
    </nav>
  </b-card>
</template>

<script>
import * as types from 'store/users/MutationTypes';
import { mapActions, mapState } from 'vuex';

export default {
  name: 'users-index',
  data () {
    return {
      search: '',
      currentPage: 1,
      perPage: 20,
      totalPages: 1,
      fields: [
        {
          key: 'name',
          label: lang('users.name')
        },
        {
          key: 'email',
          label: lang('users.email')
        },
        {
          key: 'created_at.date',
          label: lang('main.createdAt')
        },
        {
          key: 'actions',
          label: lang('main.actions')
        },
      ]
    };
  },
  mounted () {
    this.loadUsers(this.params);
  },
  computed: {
    ...mapState({
      users: state => state.users.users.data,
      pagination: state => state.users.users.meta,
    }),
  },
  watch: {
    'pagination.per_page'(value) {
      this.perPage = parseInt(value);
    },
    'pagination.current_page'(value) {
      this.currentPage = value;
    },
    'pagination.total'(value) {
      this.totalPages = value;
    },
  },
  methods: {
    // this.loadUsers() = this.$store.dispatch('users/loadUsers')
    ...mapActions([
      'loadUsers',
    ]),
    provider (context, callback) {
      this.loadUsers({ page: context.currentPage, limit: context.perPage })
        .then(() => {
          callback(this.users);
          window.Bus.$emit('page.ready');
        })
        .catch(() => {
          callback([]);
        });
    },
  },
}
</script>
