<template>
  <!-- eslint-disable -->
  <div class="m-grid__item m-grid__item--fluid m-wrapper">

    <subheader></subheader>

    <div class="m-content">

        <top-widgets></top-widgets>

        <div class="row">
          <div class="col-xl-6">

            <support-cases></support-cases>

          </div>
          <div class="col-xl-6">

            <finance-stats></finance-stats>

          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 col-lg-12">

            <recent-activities></recent-activities>

          </div>
          <div class="col-xl-6 col-lg-12">

            <recent-notifications></recent-notifications>

          </div>
        </div>

        <div class="row">
          <div class="col-xl-8">

            <application-sales></application-sales>

          </div>
          <div class="col-xl-4">

            <latest-updates></latest-updates>

          </div>
        </div>

        <div class="row">
          <div class="col-xl-4">

            <announcements></announcements>

          </div>
          <div class="col-xl-4">

            <blog-article></blog-article>

          </div>
          <div class="col-xl-4">

            <sales-stats></sales-stats>

          </div>
        </div>

      </div>

  </div>
</template>

<script>
import TopWidgets from 'views/dashboard/components/TopWidgets';
import SupportCases from 'views/dashboard/components/SupportCases';
import FinanceStats from 'views/dashboard/components/FinanceStats';
import RecentActivities from 'views/dashboard/components/RecentActivities';
import RecentNotifications from 'views/dashboard/components/RecentNotifications';
import ApplicationSales from 'views/dashboard/components/ApplicationSales';
import LatestUpdates from 'views/dashboard/components/LatestUpdates';
import Announcements from 'views/dashboard/components/Announcements';
import BlogArticle from 'views/dashboard/components/BlogArticle';
import SalesStats from 'views/dashboard/components/SalesStats';
import Subheader from 'views/dashboard/components/Subheader';

export default {
  name: 'DashboardIndex',
  components: {
    TopWidgets,
    SupportCases,
    FinanceStats,
    RecentActivities,
    RecentNotifications,
    ApplicationSales,
    LatestUpdates,
    Announcements,
    BlogArticle,
    SalesStats,
    Subheader,
  },
  mounted() {
    window.Dashboard.init();
  },
};
</script>

<style></style>
