<template>
  <!-- eslint-disable -->
  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              {{ lang('projects.activeProjects') }}
            </h3>
          </div>
        </div>
        <div class="m-portlet__head-tools">
          <b-button-toolbar class="float-right" aria-label="Toolbar with button groups and input groups">
            <b-button-group>
              <b-form-input v-model="searchKeyword" :placeholder="lang('main.search')"></b-form-input>
              <b-button variant="info">
                <i class="fa fa-search" aria-hidden="true"></i>
                <span>
                  {{ lang('main.search') }}
                </span>
              </b-button>
            </b-button-group>
            <b-button-group class="mx-3">
              <router-link :to="{path:'/projects/create'}" tag="button" class="btn btn-primary">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span>
                  {{ lang('main.addNew') }}
                </span>
              </router-link>
            </b-button-group>
          </b-button-toolbar>
        </div>
      </div>
      <div class="m-portlet__body m--padding-top-20">
        <div class="m_datatable" id="scrolling_both">
          <b-table
            responsive="true"
            bordered
            hover
            :items="provider"
            :fields="fields"
            :current-page="pagination.current_page"
            :per-page="pagination.per_page">
            <template slot="actions" slot-scope="data">
              <router-link :to="{ path: '/projects/edit/' + data.item.id }" tag="button" class="btn btn-primary btn-sm btn-action">
                <i class="fa fa-wrench" aria-hidden="true"></i>
                {{ lang('main.edit') }}
              </router-link>
              <button @click.prevent="destroyAlert(data.item.id, 'deleteRecord', 'projects.deleteWarning')" class="btn btn-danger btn-sm btn-action">
                <i class="fa fa-trash" aria-hidden="true"></i>
                {{ lang('main.delete') }}
              </button>
            </template>
            <template slot="publicity_status" slot-scope="data">
              <i v-if="data.item.publicity_status" class="fa fa-check" aria-hidden="true"></i>
              <i v-else class="fa fa-times" aria-hidden="true"></i>
            </template>
          </b-table>
          <b-pagination
            align="center"
            v-model="pagination.current_page"
            :total-rows="pagination.total"
            :per-page="pagination.per_page">
          </b-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'ActiveProjects',
  data() {
    return {
      pagination: {
        current_page: 1,
        total_pages: 1,
        per_page: 20,
        total: 20,
      },
      fields: [
        {
          key: 'id',
          label: window.lang('main.id'),
        },
        {
          key: 'name',
          label: window.lang('projects.name'),
        },
        {
          key: 'publicity_status',
          label: window.lang('projects.publicity'),
        },
        {
          key: 'publicity_bc_team_id',
          label: window.lang('projects.publicity_bc_team_id'),
        },
        {
          key: 'actions',
          label: window.lang('main.actions'),
        },
      ],
      searchKeyword: '',
    };
  },
  computed: {
    ...mapGetters('projects', ['projects']),
  },
  methods: {
    ...mapActions('projects', [
      'loadActiveProjects',
      'deleteProject',
    ]),
    provider(context, callback) {
      this.loadActiveProjects({
        page: context.currentPage,
        limit: context.perPage,
      })
        .then(() => {
          // the b-pagination component has the bad habit of updating the pagination object we give
          // in order to prevent vue from throwing errors regarding state mutations, we need to clone the data
          this.pagination = Object.assign({}, this.$store.state.projects.projects.pagination);
          callback(this.projects);
          window.Bus.$emit('page.ready');
        })
        .catch(() => {
          callback([]);
        });
    },
    deleteRecord(id) {
      this.deleteProject({id})
        .then(() => {
          this.success('projects.destroySuccess')
            .then(() => this.reloadPage());
        })
        .catch(() => this.fail('projects.destroyFail'));
    },
  },
};
</script>
