<template>
  <!-- eslint-disable -->
  <div class="m-content">
    <div class="m-portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <span class="m-portlet__head-icon m--hide">
              <i class="la la-gear"></i>
            </span>
            <h3 class="m-portlet__head-text">
              {{ lang('projects.editProject')}}
            </h3>
          </div>
        </div>
      </div>
      <div>
        <form class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group row border-0 m-form__section--first m--padding-top-15 m--padding-bottom-15">
              <label class="col-sm-4 col-xs-12 col-md-3 col-lg-2 col-xl-2 col-form-label">
                {{ lang('projects.name') }} :
              </label>
              <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xs-12">
                <input v-model="project.name" class="form-control m-input" :placeholder="lang('projects.placeholderName')" v-validate="validationRules.name" name="name" type="text">
                <span class="m-form__error" v-show="errors.has('name')">
                  {{ errors.first('name') }}
                </span>
              </div>
            </div>
            <div class="form-group m-form__group row border-0 m--padding-top-15 m--padding-bottom-15">
              <label class="col-sm-4 col-xs-12 col-md-3 col-lg-2 col-xl-2 col-form-label">
                {{ lang('projects.image') }} :
              </label>
              <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xs-12">
                <b-card v-show="isString(project.image)" :img-src="'/storage' + project.image" img-alt="Card image"
                  img-fluid
                  class="image-card col-sm-4"
                  :no-body="true">
                </b-card>
                <input type="file" v-validate="validationRules.image" name="image" @change="onFileChange" accept="image/*" class="form-control m-input" :placeholder="lang('projects.placeholderImage')">
                <span class="m-form__error" v-show="errors.has('image')">
                  {{ errors.first('image') }}
                </span>
              </div>
            </div>
            <div class="form-group m-form__group row border-0 m--padding-top-15 m--padding-bottom-15">
              <label class="col-sm-4 col-xs-12 col-md-3 col-lg-2 col-xl-2 col-form-label">
                {{ lang('projects.image') }} 2:
              </label>
              <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xs-12">
                <b-card v-show="isString(project.image_2)" :img-src="'/storage' + project.image_2" img-alt="Card image"
                  img-fluid
                  class="image-card col-sm-4"
                  :no-body="true">
                </b-card>
                <input type="file" v-validate="validationRules.image_2" name="image_2" @change="onFileChange" accept="image/*" class="form-control m-input" :placeholder="lang('projects.placeholderImage')">
                <span class="m-form__error" v-show="errors.has('image_2')">
                  {{ errors.first('image_2') }}
                </span>
              </div>
            </div>
            <div class="form-group m-form__group row border-0 m--padding-top-15 m--padding-bottom-15">
              <label class="col-sm-4 col-xs-12 col-md-3 col-lg-2 col-xl-2 col-form-label">
                {{ lang('projects.facebook') }} :
              </label>
              <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xs-12">
                <input v-model="project.facebook_id" type="text" class="form-control m-input" :placeholder="lang('projects.placeholderFacebook')" v-validate="validationRules.facebook_id" name="facebook_id">
                <span class="m-form__error" v-show="errors.has('facebook_id')">
                  {{ errors.first('facebook_id') }}
                </span>
              </div>
            </div>
            <div class="form-group m-form__group row border-0 m--padding-top-15 m--padding-bottom-15">
              <label class="col-sm-4 col-xs-12 col-md-3 col-lg-2 col-xl-2 col-form-label">
                {{ lang('projects.twitter') }} :
              </label>
              <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xs-12">
                <input v-model="project.twitter_id" type="text" class="form-control m-input" :placeholder="lang('projects.placeholderTwitter')" v-validate="validationRules.twitter_id" name="twitter_id">
                <span class="m-form__error" v-show="errors.has('twitter_id')">
                  {{ errors.first('twitter_id') }}
                </span>
              </div>
            </div>
            <div class="form-group m-form__group row border-0 m--padding-top-15 m--padding-bottom-15">
              <label class="col-sm-4 col-xs-12 col-md-3 col-lg-2 col-xl-2 col-form-label">
                {{ lang('projects.instagram') }} :
              </label>
              <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xs-12">
                <input v-model="project.instagram_id" type="text" class="form-control m-input" :placeholder="lang('projects.placeholderInstagram')" v-validate="validationRules.instagram_id" name="instagram_id">
                <span class="m-form__error" v-show="errors.has('instagram_id')">
                  {{ errors.first('instagram_id') }}
                </span>
              </div>
            </div>
            <div class="form-group m-form__group row border-0 m--padding-top-15 m--padding-bottom-15">
              <label class="col-sm-4 col-xs-12 col-md-3 col-lg-2 col-xl-2 col-form-label">
                {{ lang('projects.youtube') }} :
              </label>
              <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xs-12">
                <input v-model="project.youtube_id" type="text" class="form-control m-input" :placeholder="lang('projects.placeholderYoutube')" v-validate="validationRules.youtube_id" name="youtube_id">
                <span class="m-form__error" v-show="errors.has('youtube_id')">
                  {{ errors.first('youtube_id') }}
                </span>
              </div>
            </div>
            <div class="form-group m-form__group row border-0 m--padding-top-15 m--padding-bottom-15">
              <label class="col-sm-4 col-xs-12 col-md-3 col-lg-2 col-xl-2 col-form-label">
                {{ lang('projects.soundcloud') }} :
              </label>
              <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xs-12">
                <input v-model="project.soundcloud_id" type="text" class="form-control m-input" :placeholder="lang('projects.placeholderSoundcloud')" v-validate="validationRules.soundcloud_id" name="soundcloud_id">
                <span class="m-form__error" v-show="errors.has('soundcloud_id')">
                  {{ errors.first('soundcloud_id') }}
                </span>
              </div>
            </div>
            <div class="form-group m-form__group row border-0 m--padding-top-15 m--padding-bottom-15">
              <label class="col-sm-4 col-xs-12 col-md-3 col-lg-2 col-xl-2 col-form-label">
                {{ lang('projects.assets') }} :
              </label>
              <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xs-12">
                <div class="m-radio-list">
                  <label class="m-radio">
                    <input v-model="project.assets" v-validate="validationRules.assets" type="radio" name="assets" value="1">
                    {{ lang('projects.active') }}
                    <span></span>
                  </label>
                  <label class="m-radio">
                    <input v-model="project.assets" v-validate="validationRules.assets" type="radio" name="assets" value="0">
                    {{ lang('projects.disabled') }}
                    <span></span>
                  </label>
                  <span class="m-form__error" v-show="errors.has('assets')">
                    {{ errors.first('assets') }}
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row border-0 m--padding-top-15 m--padding-bottom-15">
              <label class="col-sm-4 col-xs-12 col-md-3 col-lg-2 col-xl-2 col-form-label">
                {{ lang('projects.publicity') }} :
              </label>
              <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xs-12">
                <div class="m-radio-list">
                  <label class="m-radio">
                    <input v-model="project.publicity_status" v-validate="validationRules.publicity_status" type="radio" name="publicity_status" value="1">
                    {{ lang('projects.active') }}
                    <span></span>
                  </label>
                  <label class="m-radio">
                    <input v-model="project.publicity_status" v-validate="validationRules.publicity_status" type="radio" name="publicity_status" value="0">
                    {{ lang('projects.disabled') }}
                    <span></span>
                  </label>
                  <span class="m-form__error" v-show="errors.has('publicity_status')">
                    {{ errors.first('publicity_status') }}
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row border-0 m--padding-top-15 m--padding-bottom-15">
              <label class="col-sm-4 col-xs-12 col-md-3 col-lg-2 col-xl-2 col-form-label">
                {{ lang('projects.projectStatus') }} :
              </label>
              <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10 col-xs-12">
                <div class="m-radio-list">
                  <label class="m-radio">
                    <input v-model="project.status" v-validate="validationRules.status" type="radio" name="status" value="1">
                    {{ lang('projects.active') }}
                    <span></span>
                  </label>
                  <label class="m-radio">
                    <input v-model="project.status" v-validate="validationRules.status" type="radio" name="status" value="0">
                    {{ lang('projects.disabled') }}
                    <span></span>
                  </label>
                  <span class="m-form__error" v-show="errors.has('status')">
                    {{ errors.first('status') }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions">
              <button class="btn btn-primary" @click.prevent="validateRequest">
                {{ lang('main.update') }}
              </button>
              <router-link :to="{path: '/projects/active'}" tag="button" class="btn mx-2">
                {{ lang('main.cancel') }}
              </router-link>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'EditProject',
  data() {
    return {
      validationRules: {
        id: 'required|numeric',
        name: 'required|max:191',
        image: 'image',
        image_2: 'image',
        facebook_id: 'alpha_num',
        twitter_id: 'alpha_num',
        instagram_id: 'alpha_num',
        youtube_id: 'alpha_num',
        soundcloud_id: 'alpha_num',
        assets: 'required',
        publicity_status: 'required',
        status: 'required',
      },
      project: {
        id: null,
        name: '',
        image: null,
        facebook_id: '',
        twitter_id: '',
        instagram_id: '',
        youtube_id: '',
        soundcloud_id: '',
        publicity_status: 1,
        assets: 1,
        status: 1,
      },
    };
  },
  mounted() {
    this.retrieveProjectData();
  },
  methods: {
    ...mapActions('projects', [
      'loadProject',
      'updateProject',
    ]),
    retrieveProjectData() {
      const { id } = this.$route.params;
      this.loadProject({ id })
        .then(() => {
          this.project = Object.assign({}, this.$store.state.projects.project);
          window.Bus.$emit('page.ready');
        });
    },
    /**
     * Vue.js doesn't allow v-model on input[type=file]
     * So, I'm using an event to set the data
     *
     * @param event
     */
    onFileChange(event) {
      const target = event.target;
      const inputName = target.name;

      if (target.files[0]) {
        this.project[inputName] = target.files[0];
      }
    },
    /**
     * Validate the current form data
     * Trigger the updateRecord method if the data is valid
     */
    validateRequest() {
      this.validate(this.updateRecord);
    },
    updateRecord() {
      this.updateProject(this.$data.project)
        .then(() => {
          this.success('projects.updateSuccess')
            .then(() => this.reloadPage());
        })
        .catch(() => this.fail('projects.updateFail'));
    },
  },
};
</script>
