//
//** Nav Menu Component
//

//==== Component Mixins ====//

//== Component Base
@mixin m-build-component--nav-menu-base() {
    .m-nav-menu  { 
       
    }
}

//== Component Skin
@mixin m-build-component--nav-menu-skin() {

}

//==== Generate Component ====//

//== Component Base
@include m-build-component--nav-menu-base();

//== Component Skin
@include m-build-component--nav-menu-skin();
