// Raleway

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src:
    local('Raleway Light'),
    local('Raleway-Light'),
      /* from https://fonts.gstatic.com/s/raleway/v12/-_Ctzj9b56b8RgXW8FAriVQlYEbsez9cZjKsNMjLOwM.eot */
    url('/fonts/Raleway_300.eot?#iefix') format('embedded-opentype'),
      /* from https://fonts.gstatic.com/s/raleway/v12/-_Ctzj9b56b8RgXW8FAriRsxEYwM7FgeyaSgU71cLG0.woff */
    url('/fonts/Raleway_300.woff') format('woff'),
      /* from https://fonts.gstatic.com/s/raleway/v12/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2 */
    url('/fonts/Raleway_300.woff2') format('woff2'),
      /* from https://fonts.gstatic.com/l/font?kit=-_Ctzj9b56b8RgXW8FAriaWUboTb-jS2tyCOQMtm97g&skey=f383b08b06c2c86f&v=v12#Raleway */
    url('/fonts/Raleway_300.svg#Raleway') format('svg'),
      /* from https://fonts.gstatic.com/s/raleway/v12/-_Ctzj9b56b8RgXW8FAriS3USBnSvpkopQaUR-2r7iU.ttf */
    url('/fonts/Raleway_300.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src:
    local('Raleway'),
    local('Raleway-Regular'),
      /* from https://fonts.gstatic.com/s/raleway/v12/JDau3G46nqY5-B-S9E_nwg.eot */
    url('/fonts/Raleway_400.eot?#iefix') format('embedded-opentype'),
      /* from https://fonts.gstatic.com/s/raleway/v12/IczWvq5y_Cwwv_rBjOtT0w.woff */
    url('/fonts/Raleway_400.woff') format('woff'),
      /* from https://fonts.gstatic.com/s/raleway/v12/0dTEPzkLWceF7z0koJaX1A.woff2 */
    url('/fonts/Raleway_400.woff2') format('woff2'),
      /* from https://fonts.gstatic.com/l/font?kit=IP_NSg73bUZGuyb3zF6qcQ&skey=30a27f2564731c64&v=v12#Raleway */
    url('/fonts/Raleway_400.svg#Raleway') format('svg'),
      /* from https://fonts.gstatic.com/s/raleway/v12/bIcY3_3JNqUVRAQQRNVteQ.ttf */
    url('/fonts/Raleway_400.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 60;
  src:
    local('Raleway'),
    local('Raleway-Regular'),
      /* from https://fonts.gstatic.com/s/raleway/v12/JDau3G46nqY5-B-S9E_nwg.eot */
    url('/fonts/Raleway_60.eot?#iefix') format('embedded-opentype'),
      /* from https://fonts.gstatic.com/s/raleway/v12/IczWvq5y_Cwwv_rBjOtT0w.woff */
    url('/fonts/Raleway_60.woff') format('woff'),
      /* from https://fonts.gstatic.com/s/raleway/v12/0dTEPzkLWceF7z0koJaX1A.woff2 */
    url('/fonts/Raleway_60.woff2') format('woff2'),
      /* from https://fonts.gstatic.com/l/font?kit=IP_NSg73bUZGuyb3zF6qcQ&skey=30a27f2564731c64&v=v12#Raleway */
    url('/fonts/Raleway_60.svg#Raleway') format('svg'),
      /* from https://fonts.gstatic.com/s/raleway/v12/bIcY3_3JNqUVRAQQRNVteQ.ttf */
    url('/fonts/Raleway_60.ttf') format('truetype');
}

// Poppins

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src:
    local('Poppins Light'),
    local('Poppins-Light'),
      /* from https://fonts.gstatic.com/s/poppins/v5/D2gN9uyZ9Ucx1fJ1Fhb7s1QlYEbsez9cZjKsNMjLOwM.eot */
    url('/fonts/Poppins_300.eot?#iefix') format('embedded-opentype'),
      /* from https://fonts.gstatic.com/s/poppins/v5/D2gN9uyZ9Ucx1fJ1Fhb7sxsxEYwM7FgeyaSgU71cLG0.woff */
    url('/fonts/Poppins_300.woff') format('woff'),
      /* from https://fonts.gstatic.com/s/poppins/v5/D2gN9uyZ9Ucx1fJ1Fhb7s_k_vArhqVIZ0nv9q090hN8.woff2 */
    url('/fonts/Poppins_300.woff2') format('woff2'),
      /* from https://fonts.gstatic.com/l/font?kit=D2gN9uyZ9Ucx1fJ1Fhb7s6WUboTb-jS2tyCOQMtm97g&skey=4aabc5055a39e031&v=v5#Poppins */
    url('/fonts/Poppins_300.svg#Poppins') format('svg'),
      /* from https://fonts.gstatic.com/s/poppins/v5/D2gN9uyZ9Ucx1fJ1Fhb7sy3USBnSvpkopQaUR-2r7iU.ttf */
    url('/fonts/Poppins_300.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src:
    local('Poppins Regular'),
    local('Poppins-Regular'),
      /* from https://fonts.gstatic.com/s/poppins/v5/olDgTpKzK_Gc4BNFKks84g.eot */
    url('/fonts/Poppins_400.eot?#iefix') format('embedded-opentype'),
      /* from https://fonts.gstatic.com/s/poppins/v5/SFusu2OSFiUt40t5QNWvnA.woff */
    url('/fonts/Poppins_400.woff') format('woff'),
      /* from https://fonts.gstatic.com/s/poppins/v5/HLBysyo0MQBO_7E-DWLwzg.woff2 */
    url('/fonts/Poppins_400.woff2') format('woff2'),
      /* from https://fonts.gstatic.com/l/font?kit=j_KvOvu4ZZaZ9f72G1iz0Q&skey=87759fb096548f6d&v=v5#Poppins */
    url('/fonts/Poppins_400.svg#Poppins') format('svg'),
      /* from https://fonts.gstatic.com/s/poppins/v5/TDTjCH39JjVycIF24TlO-Q.ttf */
    url('/fonts/Poppins_400.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 60;
  src:
    local('Poppins Regular'),
    local('Poppins-Regular'),
      /* from https://fonts.gstatic.com/s/poppins/v5/olDgTpKzK_Gc4BNFKks84g.eot */
    url('/fonts/Poppins_60.eot?#iefix') format('embedded-opentype'),
      /* from https://fonts.gstatic.com/s/poppins/v5/SFusu2OSFiUt40t5QNWvnA.woff */
    url('/fonts/Poppins_60.woff') format('woff'),
      /* from https://fonts.gstatic.com/s/poppins/v5/HLBysyo0MQBO_7E-DWLwzg.woff2 */
    url('/fonts/Poppins_60.woff2') format('woff2'),
      /* from https://fonts.gstatic.com/l/font?kit=j_KvOvu4ZZaZ9f72G1iz0Q&skey=87759fb096548f6d&v=v5#Poppins */
    url('/fonts/Poppins_60.svg#Poppins') format('svg'),
      /* from https://fonts.gstatic.com/s/poppins/v5/TDTjCH39JjVycIF24TlO-Q.ttf */
    url('/fonts/Poppins_60.ttf') format('truetype');
}

// Roboto

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:
    local('Roboto Light'),
    local('Roboto-Light'),
      /* from https://fonts.gstatic.com/s/roboto/v18/Hgo13k-tfSpn0qi1SFdUffY6323mHUZFJMgTvxaG2iE.eot */
    url('/fonts/Roboto_300.eot?#iefix') format('embedded-opentype'),
      /* from https://fonts.gstatic.com/s/roboto/v18/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff */
    url('/fonts/Roboto_300.woff') format('woff'),
      /* from https://fonts.gstatic.com/s/roboto/v18/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2 */
    url('/fonts/Roboto_300.woff2') format('woff2'),
      /* from https://fonts.gstatic.com/l/font?kit=Hgo13k-tfSpn0qi1SFdUfZbd9NUM7myrQQz30yPaGQ4&skey=11ce8ad5f54705ca&v=v18#Roboto */
    url('/fonts/Roboto_300.svg#Roboto') format('svg'),
      /* from https://fonts.gstatic.com/s/roboto/v18/Hgo13k-tfSpn0qi1SFdUfaCWcynf_cDxXwCLxiixG1c.ttf */
    url('/fonts/Roboto_300.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
      /* from https://fonts.gstatic.com/s/roboto/v18/5YB-ifwqHP20Yn46l_BDhA.eot */
    url('/fonts/Roboto_400.eot?#iefix') format('embedded-opentype'),
      /* from https://fonts.gstatic.com/s/roboto/v18/2UX7WLTfW3W8TclTUvlFyQ.woff */
    url('/fonts/Roboto_400.woff') format('woff'),
      /* from https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2 */
    url('/fonts/Roboto_400.woff2') format('woff2'),
      /* from https://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v18#Roboto */
    url('/fonts/Roboto_400.svg#Roboto') format('svg'),
      /* from https://fonts.gstatic.com/s/roboto/v18/zN7GBFwfMP4uA6AR0HCoLQ.ttf */
    url('/fonts/Roboto_400.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:
    local('Roboto Medium'),
    local('Roboto-Medium'),
      /* from https://fonts.gstatic.com/s/roboto/v18/RxZJdnzeo3R5zSexge8UUfY6323mHUZFJMgTvxaG2iE.eot */
    url('/fonts/Roboto_500.eot?#iefix') format('embedded-opentype'),
      /* from https://fonts.gstatic.com/s/roboto/v18/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff */
    url('/fonts/Roboto_500.woff') format('woff'),
      /* from https://fonts.gstatic.com/s/roboto/v18/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2 */
    url('/fonts/Roboto_500.woff2') format('woff2'),
      /* from https://fonts.gstatic.com/l/font?kit=RxZJdnzeo3R5zSexge8UUZbd9NUM7myrQQz30yPaGQ4&skey=ee881451c540fdec&v=v18#Roboto */
    url('/fonts/Roboto_500.svg#Roboto') format('svg'),
      /* from https://fonts.gstatic.com/s/roboto/v18/RxZJdnzeo3R5zSexge8UUaCWcynf_cDxXwCLxiixG1c.ttf */
    url('/fonts/Roboto_500.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
    local('Roboto Bold'),
    local('Roboto-Bold'),
      /* from https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOPY6323mHUZFJMgTvxaG2iE.eot */
    url('/fonts/Roboto_700.eot?#iefix') format('embedded-opentype'),
      /* from https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff */
    url('/fonts/Roboto_700.woff') format('woff'),
      /* from https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2 */
    url('/fonts/Roboto_700.woff2') format('woff2'),
      /* from https://fonts.gstatic.com/l/font?kit=d-6IYplOFocCacKzxwXSOJbd9NUM7myrQQz30yPaGQ4&skey=c06e7213f788649e&v=v18#Roboto */
    url('/fonts/Roboto_700.svg#Roboto') format('svg'),
      /* from https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOKCWcynf_cDxXwCLxiixG1c.ttf */
    url('/fonts/Roboto_700.ttf') format('truetype');
}
