<template>
  <!-- eslint-disable -->
  <div class="modal fade" id="m_modal_1_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            {{ lang('projects.customizeCols') }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              &times;
            </span>
          </button>
        </div>
          <div class="modal-body">
            <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-max-height="200">
              <div class="row">
                <div class="col-lg-12">
                  <p style='margin-top: -4px;margin-bottom: 18px;' >
                    {{ lang('projects.colsCustomize') }}
                  </p>
                </div>
                <div class="col-lg-6">
                  <h6>{{ lang('projects.hiddenCols') }}</h6>
                  <ul class="list-group columns-configuration ">
                    <li class="list-group-item">
                      {{ lang('projects.id') }}
                      <span class="fa fa-plus float-right"></span>
                    </li>
                    <li class="list-group-item">
                      {{ lang('projects.projects') }}
                      <span class="fa fa-plus float-right"></span>
                    </li>
                    <li class="list-group-item">
                      {{ lang('projects.slug') }}
                      <span class="fa fa-plus float-right"></span>
                    </li>
                    <li class="list-group-item">
                      {{ lang('projects.facebook') }}
                      <span class="fa fa-plus float-right"></span>
                    </li>
                    <li class="list-group-item">
                      {{ lang('projects.twitter') }}
                      <span class="fa fa-plus float-right"></span>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <h6>{{ lang('projects.visibleCols') }}</h6>
                  <ul class="list-group columns-configuration remove">
                    <li class="list-group-item">
                      {{ lang('projects.id') }}
                      <span class="fa fa-minus float-right"></span>
                    </li>
                    <li class="list-group-item">
                      {{ lang('projects.projects') }}
                      <span class="fa fa-minus float-right"></span>
                    </li>
                    <li class="list-group-item">
                      {{ lang('projects.slug') }}
                      <span class="fa fa-minus float-right"></span>
                    </li>
                    <li class="list-group-item">
                      {{ lang('projects.facebook') }}
                      <span class="fa fa-minus float-right"></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">
              {{ lang('projects.saveChanges') }}
            </button>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ColsConfig',
};
</script>

<style lang="scss" scoped type="text/scss">
  .list-group-item {
    padding: 0.30rem 1.25rem;
  }
  .columns-configuration li span {
    cursor: pointer;
    position: relative;
    top: 2.5px;
  }
</style>

