<template>
  <!-- eslint-disable -->
  <ul class="m-menu__nav m-menu__nav--dropdown-submenu-arrow ">
    <li
      v-for="(item, itemIndex) in items"
      :key="itemIndex"
      :class="menuItemClass(item)"
      aria-haspopup="true"
      data-menu-submenu-toggle="hover">
      <router-link :to="item.url" class="m-menu__link m-menu__toggle">
        <i :class="'m-menu__link-icon ' + item.icon"></i>
        <span class="m-menu__link-text">
          {{ item.name }}
        </span>
        <i v-if="item['children']" class="m-menu__ver-arrow la la-angle-right"></i>
      </router-link>
      <div v-if="item['children']" class="m-menu__submenu">
        <span class="m-menu__arrow"></span>
        <ul class="m-menu__subnav">
          <li
            v-for="(child, childIndex) in item.children"
            :key="childIndex"
            :class="menuItemClass(child)"
            aria-haspopup="true"
            data-menu-submenu-toggle="hover">
            <router-link :to="child.path" class="m-menu__link m-menu__toggle">
              <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                <span></span>
              </i>
              <span class="m-menu__link-text">
                {{ child.name }}
              </span>
              <i v-if="child['children']" class="m-menu__ver-arrow la la-angle-right"></i>
            </router-link>
            <div v-if="child['children']" class="m-menu__submenu">
              <span class="m-menu__arrow"></span>
              <ul class="m-menu__subnav">
                <li
                  v-for="(subChild, subChildIndex) in child.children"
                  :key="subChildIndex"
                  :class="menuItemClass(subChild)"
                  aria-haspopup="true" >
                  <router-link :to="subChild.path" class="m-menu__link ">
                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                      <span></span>
                    </i>
                    <span class="m-menu__link-text">
                      {{ subChild.name }}
                    </span>
                  </router-link>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</template>

<script>
import MenuLinks from 'miscellaneous/MenuLinks';

export default{
  name: 'Menu',
  data() {
    return {
      items: [],
    };
  },
  mounted() {
    this.items = MenuLinks;
  },
  methods: {
    menuItemClass(item) {
      const { path } = item;
      const activeItemClass = this.getActiveClass(path);
      const topMenuClass = this.topMenuClass(item);

      if (item) {
        return `m-menu__item--submenu ${topMenuClass} ${activeItemClass}`;
      }
      return `${topMenuClass} ${activeItemClass}`;
    },
    getActiveClass(path) {
      return (path === this.$route.fullPath) ? 'm-menu__item--active m-menu__item' : 'm-menu__item';
    },
    topMenuClass(item) {
      if (this.hasActiveChild(item)) {
        return 'm-menu__item--expanded m-menu__item--open';
      }
      return '';
    },
    hasActiveChild(item) {
      if (typeof item === 'undefined' || typeof item.children === 'undefined') {
        return false;
      }

      const { children } = item;

      for (let i = 0; i < children.length; i++) {
        const child = children[i];
        if (typeof child.children !== 'undefined' && this.hasActiveChild(child)) {
          return true;
        }

        if (child.path.trim() !== '' && this.$route.fullPath.indexOf(child.path) === 0) {
          return true;
        }
      }

      return false;
    },
  },
};
</script>

<style lang="scss" type="text/scss">
  .m-aside-menu {
    .m-menu__nav {
      .m-menu__item--open {
        > .m-menu__submenu {
          display: block !important;
        }
      }
      .m-menu__submenu {
        display: none !important;
      }
    }
  }
</style>
