<template>
  <div class="uk-form-row">
    <label v-if="!hideLabel" :for="id" class="uk-form-label">{{ title }}</label>
    <select :id="id">
    </select>
  </div>
</template>

<script>
  // NOTE: The options should be in this format:
  // [ { value: 1, text: "Jens Niehues" }, ... ]

  export default {
    name: 'global-select-input',
    props: [ 'title', 'value', 'options', 'hideLabel'],
    data: () => {
      return {
        id: null,
        selectize: null,
      }
    },
    mounted: function () {
      // set the unique id
      this.id = "select-" + this._uid;
      this.initSelectize();
      this.updateParentOnChange();
    },
    watch: {
      options: function () {
        this.initSelectize();
      }
    },
    methods: {
      initSelectize: function () {
        const $el = $(this.$el);
        const $select = $el.find('select');
        const placeholder = this.title;
        // destroy existing instance of selectize
        $select.selectize('destroy');
        // initialize selectize
        const $selectize = $select.selectize({ placeholder: placeholder });
        const selectize = $selectize[0].selectize;
        selectize.settings.placeholder = placeholder;
        selectize.updatePlaceholder();
        // add all options to selectize
        this.options.forEach((option) => { selectize.addOption(option); });
        // set the current option
        selectize.setValue(this.value);
        this.selectize = selectize;
      },
      updateParentOnChange: function () {
        this.selectize.on('change', (value) => {
          this.$emit('global.select.change', {value: value});
          this.Bus.$emit('global.select.change', {value: value});
        });
      }
    }
  }
</script>

<style lang="scss" scoped></style>
