<template>
  <div class="uk-form-row">
    <label class="uk-form-label">{{ $t('contactsGeneral.tags') }}</label>
    <input type="text" class="pma-tags"/>
  </div>
</template>

<script>
  import AutocompleteMixin from 'components/tags-input/AutocompleteMixin';

  export default {
    name: 'global-tags-input',
    props: {
      tags: {
        default: [],
        type: Array
      }
    },
    data: function () {
      return {
        selectize: null,
        theTags: [],
        settings: {
          plugins: [ 'restore_on_backspace', 'remove_button' ],
          persist: false,
          searchField: 'text',
          valueField: 'value',
          labelField: 'text',
          createOnBlur: true,
          loadThrottle: 600,
          create: function(input) {
            return {
              value: input,
              text: input
            }
          },
          load: this.selectizeLoad,
        }
      };
    },
    mixins: [ AutocompleteMixin ],
    mounted: function () {
      console.dir(this.sortKey);
      this.loadTags();
      this.initSelectize();
    },
    computed: {
      tagValues: function () {
        return this.tags.map(function (tag) {
          return tag.value;
        });
      }
    },
    methods: {
      initSelectize: function () {
        this.enableAutocomplete();

        // destroy the existing selectize instance
        if (this.selectize !== null) {
          this.selectize.destroy();
          this.selectize = null;
        }

        // do the actual initialization
        const $tags = $(this.$el).find(".pma-tags");
        const $selectize = $tags.selectize(this.settings);
        const selectize = $selectize[0].selectize;

        // set the existing tags
        selectize.addOption(this.theTags);
        selectize.setValue(this.tagValues);

        // bind the change event handler
        selectize.on("change", this.tagsChange);

        this.selectize = selectize;
      },
      loadTags: function () {
        if (this.tags.constructor === Array && this.tags.length !== 0) {
          this.theTags = this.tags;
        }
      },
      tagsToObjects: function (tagIds) {
        const options = this.selectize.options;
        const tagIdsArray = tagIds.split(',');
        return tagIdsArray.map((id) => {
          let numericId = parseInt(id);
          numericId = isNaN(numericId) ? 0 : numericId;

          return {
            id: numericId,
            title: options[id].text
          };
        });
      },
      tagsChange: function (tags) {
        const parsedTags = this.tagsToObjects(tags);
        this.Bus.$emit('global.tags-input.update', {tags: parsedTags});
      }
    }
  }
</script>

<style lang="scss">
  .selectize-control.pma-tags {
    .selectize-input {
      box-shadow: none;
      border-top: 0;

      border-left: 0;
      border-right: 0;
      border-color: #e1e1e1;
    }
  }
</style>
