<template>
  <!-- eslint-disable -->
  <div class="m-stack__item m-brand  m-brand--skin-dark ">
    <div class="m-stack m-stack--ver m-stack--general">
      <div class="m-stack__item m-stack__item--middle m-brand__logo">
        <router-link to="/dashboard">
          <img alt="" src="/img/theme/logos/logo_default_dark.png"/>
        </router-link>
      </div>
      <div class="m-stack__item m-stack__item--middle m-brand__tools">
        <a href="#" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block">
          <span></span>
        </a>
        <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
          <span></span>
        </a>
        <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
          <span></span>
        </a>
        <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
          <i class="flaticon-more"></i>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderLogo',
};
</script>
