<template>
  <!-- eslint-disable -->
  <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark "  >
    <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
      <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
        <a  href="#" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-add"></i>
          <span class="m-menu__link-text">
            Actions
          </span>
          <i class="m-menu__hor-arrow la la-angle-down"></i>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
          <span class="m-menu__arrow m-menu__arrow--adjust"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item "  aria-haspopup="true">
              <a  href="header/actions.html" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-file"></i>
                <span class="m-menu__link-text">
                  Create New Post
                </span>
              </a>
            </li>
            <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
              <a  href="header/actions.html" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-diagram"></i>
                <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                    <span class="m-menu__link-text">
                      Generate Reports
                    </span>
                    <span class="m-menu__link-badge">
                      <span class="m-badge m-badge--success">
                        2
                      </span>
                    </span>
                  </span>
                </span>
              </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu"  data-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
              <a  href="#" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-business"></i>
                <span class="m-menu__link-text">
                  Manage Orders
                </span>
                <i class="m-menu__hor-arrow la la-angle-right"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                <span class="m-menu__arrow "></span>
                <ul class="m-menu__subnav">
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <span class="m-menu__link-text">
                        Latest Orders
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <span class="m-menu__link-text">
                        Pending Orders
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <span class="m-menu__link-text">
                        Processed Orders
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <span class="m-menu__link-text">
                        Delivery Reports
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <span class="m-menu__link-text">
                        Payments
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <span class="m-menu__link-text">
                        Customers
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu"  data-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
              <a  href="#" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-chat-1"></i>
                <span class="m-menu__link-text">
                  Customer Feedbacks
                </span>
                <i class="m-menu__hor-arrow la la-angle-right"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                <span class="m-menu__arrow "></span>
                <ul class="m-menu__subnav">
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <span class="m-menu__link-text">
                        Customer Feedbacks
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <span class="m-menu__link-text">
                        Supplier Feedbacks
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <span class="m-menu__link-text">
                        Reviewed Feedbacks
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <span class="m-menu__link-text">
                        Resolved Feedbacks
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <span class="m-menu__link-text">
                        Feedback Reports
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
              <a  href="header/actions.html" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-users"></i>
                <span class="m-menu__link-text">
                  Register Member
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
        <a  href="#" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-line-graph"></i>
          <span class="m-menu__link-text">
            Reports
          </span>
          <i class="m-menu__hor-arrow la la-angle-down"></i>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu  m-menu__submenu--fixed m-menu__submenu--left" style="width:1000px">
          <span class="m-menu__arrow m-menu__arrow--adjust"></span>
          <div class="m-menu__subnav">
            <ul class="m-menu__content">
              <li class="m-menu__item">
                <h3 class="m-menu__heading m-menu__toggle">
                  <span class="m-menu__link-text">
                    Finance Reports
                  </span>
                  <i class="m-menu__ver-arrow la la-angle-right"></i>
                </h3>
                <ul class="m-menu__inner">
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-map"></i>
                      <span class="m-menu__link-text">
                        Annual Reports
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-user"></i>
                      <span class="m-menu__link-text">
                        HR Reports
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-clipboard"></i>
                      <span class="m-menu__link-text">
                        IPO Reports
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-graphic-1"></i>
                      <span class="m-menu__link-text">
                        Finance Margins
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-graphic-2"></i>
                      <span class="m-menu__link-text">
                        Revenue Reports
                      </span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="m-menu__item">
                <h3 class="m-menu__heading m-menu__toggle">
                  <span class="m-menu__link-text">
                    Project Reports
                  </span>
                  <i class="m-menu__ver-arrow la la-angle-right"></i>
                </h3>
                <ul class="m-menu__inner">
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--line">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                        Coca Cola CRM
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--line">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                        Delta Airlines Booking Site
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--line">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                        Malibu Accounting
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--line">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                        Vineseed Website Rewamp
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--line">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                        Zircon Mobile App
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--line">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                        Mercury CMS
                      </span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="m-menu__item">
                <h3 class="m-menu__heading m-menu__toggle">
                  <span class="m-menu__link-text">
                    HR Reports
                  </span>
                  <i class="m-menu__ver-arrow la la-angle-right"></i>
                </h3>
                <ul class="m-menu__inner">
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                        Staff Directory
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                        Client Directory
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                        Salary Reports
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                        Staff Payslips
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                        Corporate Expenses
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                        <span></span>
                      </i>
                      <span class="m-menu__link-text">
                        Project Expenses
                      </span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="m-menu__item">
                <h3 class="m-menu__heading m-menu__toggle">
                  <span class="m-menu__link-text">
                    Reporting Apps
                  </span>
                  <i class="m-menu__ver-arrow la la-angle-right"></i>
                </h3>
                <ul class="m-menu__inner">
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <span class="m-menu__link-text">
                        Report Adjusments
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <span class="m-menu__link-text">
                        Sources & Mediums
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <span class="m-menu__link-text">
                        Reporting Settings
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <span class="m-menu__link-text">
                        Conversions
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <span class="m-menu__link-text">
                        Report Flows
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <span class="m-menu__link-text">
                        Audit & Logs
                      </span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
        <a  href="#" class="m-menu__link m-menu__toggle">
          <i class="m-menu__link-icon flaticon-paper-plane"></i>
          <span class="m-menu__link-title">
            <span class="m-menu__link-wrap">
              <span class="m-menu__link-text">
                Apps
              </span>
              <span class="m-menu__link-badge">
                <span class="m-badge m-badge--brand m-badge--wide">
                  new
                </span>
              </span>
            </span>
          </span>
          <i class="m-menu__hor-arrow la la-angle-down"></i>
          <i class="m-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
          <span class="m-menu__arrow m-menu__arrow--adjust"></span>
          <ul class="m-menu__subnav">
            <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
              <a  href="header/actions.html" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-business"></i>
                <span class="m-menu__link-text">
                  eCommerce
                </span>
              </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu"  data-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
              <a  href="crud/datatable_v1.html" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-computer"></i>
                <span class="m-menu__link-text">
                  Audience
                </span>
                <i class="m-menu__hor-arrow la la-angle-right"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                <span class="m-menu__arrow "></span>
                <ul class="m-menu__subnav">
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-users"></i>
                      <span class="m-menu__link-text">
                        Active Users
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-interface-1"></i>
                      <span class="m-menu__link-text">
                        User Explorer
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-lifebuoy"></i>
                      <span class="m-menu__link-text">
                        Users Flows
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-graphic-1"></i>
                      <span class="m-menu__link-text">
                        Market Segments
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-graphic"></i>
                      <span class="m-menu__link-text">
                        User Reports
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
              <a  href="header/actions.html" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-map"></i>
                <span class="m-menu__link-text">
                  Marketing
                </span>
              </a>
            </li>
            <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
              <a  href="header/actions.html" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-graphic-2"></i>
                <span class="m-menu__link-title">
                  <span class="m-menu__link-wrap">
                    <span class="m-menu__link-text">
                      Campaigns
                    </span>
                    <span class="m-menu__link-badge">
                      <span class="m-badge m-badge--success">
                        3
                      </span>
                    </span>
                  </span>
                </span>
              </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu"  data-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
              <a  href="#" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-infinity"></i>
                <span class="m-menu__link-text">
                  Cloud Manager
                </span>
                <i class="m-menu__hor-arrow la la-angle-right"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
              </a>
              <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                <span class="m-menu__arrow "></span>
                <ul class="m-menu__subnav">
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-add"></i>
                      <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                          <span class="m-menu__link-text">
                            File Upload
                          </span>
                          <span class="m-menu__link-badge">
                            <span class="m-badge m-badge--danger">
                              3
                            </span>
                          </span>
                        </span>
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-signs-1"></i>
                      <span class="m-menu__link-text">
                        File Attributes
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-folder"></i>
                      <span class="m-menu__link-text">
                        Folders
                      </span>
                    </a>
                  </li>
                  <li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
                    <a  href="header/actions.html" class="m-menu__link ">
                      <i class="m-menu__link-icon flaticon-cogwheel-2"></i>
                      <span class="m-menu__link-text">
                        System Settings
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'HeaderLeftSide',
};
</script>
