<template>
  <!-- eslint-disable -->
  <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
    <div class="m-stack__item m-topbar__nav-wrapper">
      <ul class="m-topbar__nav m-nav m-nav--inline">
        <topbar-notifications></topbar-notifications>
        <topbar-user-profile></topbar-user-profile>
      </ul>
    </div>
  </div>
</template>

<script>
import TopbarNotifications from 'views/partials/header/TopbarNotifications';
import TopbarUserProfile from 'views/partials/header/TopbarUserProfile';

export default {
  name: 'Topbar',
  components: {
    TopbarNotifications,
    TopbarUserProfile,
  },
};
</script>
