<template>
  <!-- eslint-disable -->
  <div class="impressions-and-cpm charts-wrapper">
    <h2>{{ lang('charts.impressionsAndCpm') }}</h2>
    <bar-chart :title="lang('charts.impressions')"></bar-chart>
    <bar-chart :title="lang('charts.actions')"></bar-chart>
    <line-chart :title="lang('charts.costPerAction')"></line-chart>
  </div>
</template>

<script>
import BarChart from 'components/charts/BarChart';
import LineChart from 'components/charts/LineChart';

export default {
  name: 'ImpressionsAndCpm',
  components: {
    BarChart,
    LineChart,
  },
};
</script>
