<template>
  <!-- eslint-disable -->
  <div class="charts-wrapper">
    <impressions-and-cpm></impressions-and-cpm>
    <link-clicks-and-click-cost></link-clicks-and-click-cost>
    <page-likes-and-like-cost></page-likes-and-like-cost>
  </div>
</template>

<script>
import ImpressionsAndCpm from 'views/charts/FbDailyPerformance/ImpressionsAndCpm';
import PageLikesAndLikeCost from 'views/charts/FbDailyPerformance/PageLikesAndLikeCost';
import LinkClicksAndClickCost from 'views/charts/FbDailyPerformance/LinkClicksAndClickCost';

export default {
  name: 'DailyPerformanceCharts',
  components: {
    ImpressionsAndCpm,
    PageLikesAndLikeCost,
    LinkClicksAndClickCost,
  },
};
</script>
