<template>
  <!-- eslint-disable -->
  <div class="link-clicks-and-cost charts-wrapper">
    <h2>{{ lang('charts.linkClicksAndCost') }}</h2>
    <bar-chart :title="lang('charts.linkClicks')"></bar-chart>
    <line-chart :title="lang('charts.costPerLinkClick')"></line-chart>
  </div>
</template>

<script>
import HasChartsMixin from 'mixins/HasCharts';

export default {
  name: 'LinkClicks',
  mixins: [HasChartsMixin],
};
</script>
