<template>
  <!-- eslint-disable -->
  <div class="page-likes-and-cost charts-wrapper">
    <h2>{{ lang('charts.pageLikesAndCost') }}</h2>
    <bar-chart :title="lang('charts.pageLikes')"></bar-chart>
    <line-chart :title="lang('charts.costPerPageLike')"></line-chart>
  </div>
</template>

<script>
import HasChartsMixin from 'mixins/HasCharts';

export default {
  name: 'LinkClicks',
  mixins: [HasChartsMixin],
};
</script>
