<template>
  <!-- eslint-disable -->
  <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
    <div
      id="m_ver_menu"
      class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
      data-menu-vertical="true"
      data-menu-scrollable="false" data-menu-dropdown-timeout="500"
    >
     <left-menu></left-menu>
    </div>
  </div>
</template>

<script>
import LeftMenu from 'components/Menu.vue';

export default {
  name: 'AppAside',
  components: {
    'left-menu': LeftMenu,
  },
  mounted() {
    window.mLayout.initAside();
  },
};
</script>
