<template>
  <!-- eslint-disable -->
  <header class="m-grid__item    m-header "  data-minimize-offset="200" data-minimize-mobile-offset="200" >
    <div class="m-container m-container--fluid m-container--full-height">
      <div class="m-stack m-stack--ver m-stack--desktop">
        <header-logo></header-logo>
        <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
          <button class="m-aside-header-menu-mobile-close m-aside-header-menu-mobile-close--skin-dark" id="m_aside_header_menu_mobile_close_btn">
            <i class="la la-close"></i>
          </button>
          <header-left-side></header-left-side>
          <topbar></topbar>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import HeaderLogo from 'views/partials/header/HeaderLogo';
import HeaderLeftSide from 'views/partials/header/HeaderLeftSide';
import Topbar from 'views/partials/header/Topbar';

export default {
  name: 'AppHeader',
  components: {
    HeaderLogo,
    HeaderLeftSide,
    Topbar,
  },
  mounted() {
    window.mLayout.initHeader();
  },
};
</script>
