<template>
  <!-- eslint-disable -->
  <div>
    <bar-chart title="bar chart"></bar-chart>
    <line-chart title="line chart"></line-chart>
  </div>
</template>

<script>
import BarChart from 'components/charts/BarChart';
import LineChart from 'components/charts/LineChart';

export default {
  name: 'Charts',
  components: {
    BarChart,
    LineChart,
  },
};
</script>
