<template>
  <!-- eslint-disable -->
  <div class="m-grid m-grid--hor m-grid--root m-page">
    <app-header></app-header>

    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
      <button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn">
        <i class="la la-close"></i>
      </button>
      <app-aside></app-aside>
      <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <router-view></router-view>
      </div>
    </div>

    <app-footer></app-footer>
    <quick-sidebar></quick-sidebar>
    <scroll-top></scroll-top>
  </div>
</template>

<script>
import Aside from 'views/partials/Aside';
import Header from 'views/partials/Header';
import Footer from 'views/partials/Footer';
import QuickSidebar from 'views/partials/QuickSidebar';
import ScrollTop from 'views/partials/ScrollTop';

export default {
  name: 'Full',
  components: {
    'app-header': Header,
    'app-footer': Footer,
    'app-aside': Aside,
    QuickSidebar,
    ScrollTop,
  },
  computed: {
    name() {
      return this.$route.name;
    },
    list() {
      return this.$route.matched;
    },
  },
};
</script>
