<template>
  <!-- eslint-disable -->
  <div class="page-layout">
    <router-view v-show="ready"></router-view>
    <div v-show="!ready" class="loader">
      <dot-loader :color="'#39f'" :size="'100px'"></dot-loader>
    </div>
  </div>
</template>

<script>
export default {
  name: 'GlobalMain',
  data() {
    return {
      ready: false,
    };
  },
  watch: {
    $route() {
      this.ready = false;
      this.pageIsReadyFallback();
    },
  },
  beforeCreate() {
    const token = this.$auth.getToken();
    // set the token in the axios headers
    axios.defaults.headers.common.Accept = 'application/json';
    axios.defaults.headers.common.Authorization = `Bearer ${token}`;
  },
  mounted() {
    this.isReadyRoute();
    window.Bus.$on('page.ready', this.pageReady);
  },
  methods: {
    isReadyRoute() {
      if (this.$route.meta.immediateLoad === true) {
        this.pageReady();
      }

      this.pageIsReadyFallback();
    },
    pageReady() {
      setTimeout(() => {
        this.ready = true;
      }, 400);
    },
    pageIsReadyFallback() {
      if (typeof window.pageReadyTimeout !== 'undefined') {
        clearTimeout(window.pageReadyTimeout);
      }

      window.pageReadyTimeout = setTimeout(() => {
        this.ready = true;
      }, 4000);
    },
  },
};
</script>

<style lang="scss" type="text/scss">
  .v-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .login-layout {
    .v-spinner {
      left: 50%;
    }
  }
</style>
