<template>
  <div class="m-portlet  m-portlet--full-height ">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Finance Stats
          </h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        <ul class="m-portlet__nav">
          <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
              data-dropdown-toggle="hover" aria-expanded="true">
            <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
              <i class="la la-ellipsis-h m--font-brand"></i>
            </a>
            <div class="m-dropdown__wrapper">
              <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
              <div class="m-dropdown__inner">
                <div class="m-dropdown__body">
                  <div class="m-dropdown__content">
                    <ul class="m-nav">
                      <li class="m-nav__section m-nav__section--first">
                                      <span class="m-nav__section-text">
                                        Quick Actions
                                      </span>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                          <i class="m-nav__link-icon flaticon-share"></i>
                          <span class="m-nav__link-text">
                                          Activity
                                        </span>
                        </a>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                          <i class="m-nav__link-icon flaticon-chat-1"></i>
                          <span class="m-nav__link-text">
                                          Messages
                                        </span>
                        </a>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                          <i class="m-nav__link-icon flaticon-info"></i>
                          <span class="m-nav__link-text">
                                          FAQ
                                        </span>
                        </a>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                          <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                          <span class="m-nav__link-text">
                                          Support
                                        </span>
                        </a>
                      </li>
                      <li class="m-nav__separator m-nav__separator--fit"></li>
                      <li class="m-nav__item">
                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                          Cancel
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="m-widget1 m-widget1--paddingless">
        <div class="m-widget1__item">
          <div class="row m-row--no-padding align-items-center">
            <div class="col">
              <h3 class="m-widget1__title">
                IPO Margin
              </h3>
              <span class="m-widget1__desc">
                              Awerage IPO Margin
                            </span>
            </div>
            <div class="col m--align-right">
                            <span class="m-widget1__number m--font-accent">
                              +24%
                            </span>
            </div>
          </div>
        </div>
        <div class="m-widget1__item">
          <div class="row m-row--no-padding align-items-center">
            <div class="col">
              <h3 class="m-widget1__title">
                Payments
              </h3>
              <span class="m-widget1__desc">
                              Yearly Expenses
                            </span>
            </div>
            <div class="col m--align-right">
                            <span class="m-widget1__number m--font-info">
                              +$560,800
                            </span>
            </div>
          </div>
        </div>
        <div class="m-widget1__item">
          <div class="row m-row--no-padding align-items-center">
            <div class="col">
              <h3 class="m-widget1__title">
                Logistics
              </h3>
              <span class="m-widget1__desc">
                              Overall Regional Logistics
                            </span>
            </div>
            <div class="col m--align-right">
                            <span class="m-widget1__number m--font-warning">
                              -10%
                            </span>
            </div>
          </div>
        </div>
        <div class="m-widget1__item">
          <div class="row m-row--no-padding align-items-center">
            <div class="col">
              <h3 class="m-widget1__title">
                Expenses
              </h3>
              <span class="m-widget1__desc">
                              Balance
                            </span>
            </div>
            <div class="col m--align-right">
                            <span class="m-widget1__number m--font-danger">
                              $345,000
                            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'finance-stats'
  }
</script>
