<template>
  <div class="m-portlet m-portlet--full-height m-portlet--fit ">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Latest Updates
          </h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        <ul class="m-portlet__nav">
          <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
            data-dropdown-toggle="hover">
            <a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand">
              Today
            </a>
            <div class="m-dropdown__wrapper">
              <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
              <div class="m-dropdown__inner">
                <div class="m-dropdown__body">
                  <div class="m-dropdown__content">
                    <ul class="m-nav">
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                          <i class="m-nav__link-icon flaticon-share"></i>
                          <span class="m-nav__link-text">
                            Activity
                          </span>
                        </a>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                          <i class="m-nav__link-icon flaticon-chat-1"></i>
                          <span class="m-nav__link-text">
                            Messages
                          </span>
                        </a>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                          <i class="m-nav__link-icon flaticon-info"></i>
                          <span class="m-nav__link-text">
                            FAQ
                          </span>
                        </a>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                          <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                          <span class="m-nav__link-text">
                            Support
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="m-widget4 m-widget4--chart-bottom" style="min-height: 350px">
        <div class="m-widget4__item">
          <div class="m-widget4__ext">
            <a href="#" class="m-widget4__icon m--font-brand">
              <i class="flaticon-interface-3"></i>
            </a>
          </div>
          <div class="m-widget4__info">
            <span class="m-widget4__text">
              Make Metronic Great Again
            </span>
          </div>
          <div class="m-widget4__ext">
            <span class="m-widget4__number m--font-accent">
              +500
            </span>
          </div>
        </div>
        <div class="m-widget4__item">
          <div class="m-widget4__ext">
            <a href="#" class="m-widget4__icon m--font-brand">
              <i class="flaticon-folder-4"></i>
            </a>
          </div>
          <div class="m-widget4__info">
            <span class="m-widget4__text">
              Green Maker Team
            </span>
          </div>
          <div class="m-widget4__ext">
            <span class="m-widget4__stats m--font-info">
              <span class="m-widget4__number m--font-accent">
                -64
              </span>
            </span>
          </div>
        </div>
        <div class="m-widget4__item">
          <div class="m-widget4__ext">
            <a href="#" class="m-widget4__icon m--font-brand">
              <i class="flaticon-line-graph"></i>
            </a>
          </div>
          <div class="m-widget4__info">
            <span class="m-widget4__text">
              Make Apex Great Again
            </span>
          </div>
          <div class="m-widget4__ext">
            <span class="m-widget4__stats m--font-info">
              <span class="m-widget4__number m--font-accent">
                +1080
              </span>
            </span>
          </div>
        </div>
        <div class="m-widget4__item m-widget4__item--last">
          <div class="m-widget4__ext">
            <a href="#" class="m-widget4__icon m--font-brand">
              <i class="flaticon-diagram"></i>
            </a>
          </div>
          <div class="m-widget4__info">
            <span class="m-widget4__text">
              A Programming Language
            </span>
          </div>
          <div class="m-widget4__ext">
            <span class="m-widget4__stats m--font-info">
              <span class="m-widget4__number m--font-accent">
                +19
              </span>
            </span>
          </div>
        </div>
        <div class="m-widget4__chart m-portlet-fit--sides m--margin-top-20 m-portlet-fit--bottom1" style="height:120px;">
          <canvas id="m_chart_latest_updates"></canvas>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'latest-updates'
  }
</script>
