<template>
  <div class="m-portlet  m-portlet--full-height ">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Support Cases
          </h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        <ul class="m-portlet__nav">
          <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
              data-dropdown-toggle="hover" aria-expanded="true">
            <a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
              <i class="la la-ellipsis-h m--font-brand"></i>
            </a>
            <div class="m-dropdown__wrapper">
              <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
              <div class="m-dropdown__inner">
                <div class="m-dropdown__body">
                  <div class="m-dropdown__content">
                    <ul class="m-nav">
                      <li class="m-nav__section m-nav__section--first">
                                      <span class="m-nav__section-text">
                                        Quick Actions
                                      </span>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                          <i class="m-nav__link-icon flaticon-share"></i>
                          <span class="m-nav__link-text">
                                          Activity
                                        </span>
                        </a>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                          <i class="m-nav__link-icon flaticon-chat-1"></i>
                          <span class="m-nav__link-text">
                                          Messages
                                        </span>
                        </a>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                          <i class="m-nav__link-icon flaticon-info"></i>
                          <span class="m-nav__link-text">
                                          FAQ
                                        </span>
                        </a>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                          <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                          <span class="m-nav__link-text">
                                          Support
                                        </span>
                        </a>
                      </li>
                      <li class="m-nav__separator m-nav__separator--fit"></li>
                      <li class="m-nav__item">
                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                          Cancel
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="m-portlet__body">
      <div class="m-widget16">
        <div class="row">
          <div class="col-md-5">
            <div class="m-widget16__head">
              <div class="m-widget16__item">
                              <span class="m-widget16__sceduled">
                                Type
                              </span>
                <span class="m-widget16__amount m--align-right">
                                Amount
                              </span>
              </div>
            </div>
            <div class="m-widget16__body">

              <div class="m-widget16__item">
                              <span class="m-widget16__date">
                                EPS
                              </span>
                <span class="m-widget16__price m--align-right m--font-brand">
                                +78,05%
                              </span>
              </div>


              <div class="m-widget16__item">
                              <span class="m-widget16__date">
                                PDO
                              </span>
                <span class="m-widget16__price m--align-right m--font-accent">
                                21,700
                              </span>
              </div>


              <div class="m-widget16__item">
                              <span class="m-widget16__date">
                                OPL Status
                              </span>
                <span class="m-widget16__price m--align-right m--font-danger">
                                Negative
                              </span>
              </div>


              <div class="m-widget16__item">
                              <span class="m-widget16__date">
                                Priority
                              </span>
                <span class="m-widget16__price m--align-right m--font-brand">
                                +500,200
                              </span>
              </div>


              <div class="m-widget16__item">
                              <span class="m-widget16__date">
                                Net Prifit
                              </span>
                <span class="m-widget16__price m--align-right m--font-brand">
                                $18,540,60
                              </span>
              </div>

            </div>
          </div>
          <div class="col-md-7">
            <div class="m-widget16__stats">
              <div class="m-widget16__visual">
                <div id="m_chart_support_tickets" style="height: 180px"></div>
              </div>
              <div class="m-widget16__legends">
                <div class="m-widget16__legend">
                  <span class="m-widget16__legend-bullet m--bg-info"></span>
                  <span class="m-widget16__legend-text">
                                  20% Margins
                                </span>
                </div>
                <div class="m-widget16__legend">
                  <span class="m-widget16__legend-bullet m--bg-accent"></span>
                  <span class="m-widget16__legend-text">
                                  80% Profit
                                </span>
                </div>
                <div class="m-widget16__legend">
                  <span class="m-widget16__legend-bullet m--bg-danger"></span>
                  <span class="m-widget16__legend-text">
                                  10% Lost
                                </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'support-cases'
  }
</script>
